# Python junk
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# OS junk
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Secrets (NEVER push these)
*.env
.secrets

# ========================
# TERRAFORM SECURITY
# ========================
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Ignore local variable files that contain actual passwords
*.tfvars
*.tfvars.json
secrets.auto.tfvars

# Ignore the .terraform execution directory
.terraform/
.terraform.lock.hcl