apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: n8n-data
  namespace: n8n
spec:
  accessModes:
    - ReadWriteMany  # Changed to RWX
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn
