apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  project: default
  source:
    repoURL: https://kubernetes.github.io/ingress-nginx
    chart: ingress-nginx
    targetRevision: 4.11.2 # This chart version installs Controller v1.11.2
    helm:
      parameters:
        - name: controller.service.type
          value: "LoadBalancer" # This protects MetalLB connection
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx
  syncPolicy:
    automated:
      prune: false # CRITICAL: Prevents Argo CD from deleting existing parts
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
